body {
  background-color: #f8f8f8;
}
header .menu {
  display: none;
  margin-right: 15px;
}
header .menu:hover {
  cursor: pointer;
}
section {
  width: 100vw;
}
section nav {
  display: flex;
  height: 85vh;
  padding: 100px 100px 20px 60px;
  background-color: #fff;
}
section nav .title {
  font-size: 25px;
  padding: 20px 0 30px;
}
section .subtitle {
  font-size: 16px;
  padding: 0 0 10px;
}
section nav .subtitle:hover {
  color: #e5323b;
}
section .settings {
  width: 55%;
  max-height: 80vh;
  overflow-y: auto;
  padding: 120px 0px 0px 100px;
}
.settings .top {
  margin-bottom: 40px;
}
.settings .subtitle {
  font-size: 15px;
  padding-bottom: 20px;
}
.settings .title {
  font-size: 30px;
  padding-bottom: 25px;
}
.settings .profile {
  padding-bottom: 120px;
  margin-bottom: 50px;
  border-bottom: 1px solid #e0e0e0;
}
.settings .profile .image {
  width: 90px;
  height: 90px;
  min-width: 90px;
  min-width: 90px;
  background-color: transparent;
  border-radius: 50%;
  background-image: url("https://picsum.photos/200/300");
  border: 2px solid #e5323b;
  margin-right: 20px;
}
.settings .profile .info {
  margin: 0 50px 0 10px;
  font-size: 1.1em;
}
.upload {
  min-height: 20px;
  margin-bottom: 20px;
}
.upload img {
  margin-right: 10px;
}
.delete {
  background-color: #fff;
}
.delete img {
  margin-right: 10px;
}
.candidates {
  width: 100%;
  padding-bottom: 30px;
}
.candidates .candidate {
  margin-bottom: 20px;
}
.candidates .list {
  margin: 10px 0 30px;
}
.candidates .list .office {
  padding-bottom: 10px;
}
.candidates .item {
  padding: 0;
  margin-bottom: 10px;
  background-color: #fff;
}
.candidates .item .info {
  width: 100%;
}
.candidates .item .name {
  font-size: 1.2em;
  padding-top: 10px;
}
.candidates .item .image {
  width: 90px;
  height: 80px;
  min-width: 90px;
  min-height: 80px;
  border-radius: 0;
  background-image: url("https://picsum.photos/201/201");
  background-color: #ddd;
  margin-right: 20px;
}
.candidates .item .votes {
  height: 100%;
  padding: 0 25px;
  font-size: 1.5em;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.52);
}
.candidates .item .votes span {
  margin-right: 8px;
}
.candidates .item .vote {
  height: 100%;
  padding: 0 25px;
  font-size: 1.5em;
}
.candidates .item .vote:hover {
  cursor: pointer;
}
.candidates .item .vote span {
  margin-left: 8px;
}
.settings form {
  padding-top: 10px;
}
.settings .personal {
  width: 100%;
  padding-top: 30px;
  border-top: 1px solid #e0e0e0;
}
form .wrapper {
  margin-right: 70px;
}
form .field {
  margin-bottom: 25px;
}
form .field label {
  color: #111;
  font-size: 0.9em;
  padding-bottom: 10px;
}
form .field .error {
  padding-top: 7px;
  font-size: 0.7em;
}
form .field input {
  padding: 8px 10px;
  width: 280px;
  border: 1px solid #ddd;
  border-radius: 2px;
  font-size: 1em;
}
form .save {
  margin-bottom: 20px;
}
form .save img {
  padding-right: 10px;
}
@media only screen and (max-width: 1000px) {
  header .menu {
    display: inline-block;
  }
  section nav {
    display: none;
    min-width: 150px;
  }
}
@media only screen and (max-width: 765px) {
  section {
    overflow-x: hidden;
  }
  section .settings {
    padding-left: 0;
  }
  section .settings {
    width: 100%;
    margin: 0 20px;
    padding: 100px 0 0px;
  }
  .settings .profile {
    display: block;
    width: 90%;
  }
  .settings .details {
    margin-bottom: 20px;
  }
  .settings .profile {
    width: 100%;
    padding-bottom: 30px;
    margin: 0 0 40px 0;
  }
  .settings form {
    width: 100%;
    padding: 20px 0px;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .candidates .container {
    width: 96%;
    margin: 0 auto 20px;
  }
  .candidates .top .btn {
    margin-right: 20px;
  }
  .candidates .top .btn img {
    margin-right: 4px;
  }
  .candidates .item .image {
    width: 70px;
    height: 65px;
    min-width: 70px;
    min-height: 65px;
    margin-right: 10px;
  }
  .candidates .item .name {
    font-size: 0.9em;
    padding-top: 5px;
    padding-right: 5px;
  }
  .candidates .item .votes {
    height: 100%;
    padding: 0 15px;
    font-size: 1em;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.52);
  }
  .candidates .item .vote {
    padding: 0 15px;
    font-size: 1em;
  }
  form .field {
    width: 100%;
  }
  form .field input {
    width: 250px;
  }
  form .wrapper {
    margin: 0 auto;
  }
}
