body {
  background-color: #f8f8f8;
}
section.signup {
  width: 100vw;
  height: 100vh;
}
.signup .container {
  width: 40%;
  padding: 25px 50px;
  border-radius: 3px;
  background-color: #fff;
}
.signup .top {
  padding-bottom: 50px;
}
.signup .top .title {
  font-size: 25px;
}
.signup .top .admin {
  font-size: 0.9em;
  padding-right: 10px;
}
.form {
  width: 100%;
}
.form .wrapper {
  width: 50%;
}
.form .field {
  width: 80%;
  margin-bottom: 25px;
}
.form .field label {
  color: #111;
  font-size: 0.9em;
  padding-bottom: 10px;
}
.form .field .error {
  padding-top: 7px;
  font-size: 0.7em;
}
.form .field input {
  padding: 8px 10px;
  width: 90%;
  border: 1px solid #ddd;
  border-radius: 2px;
  font-size: 1em;
}
.form .btn-submit {
  display: inline-block;
  width: 90%;
  padding: 10px 10px;
  margin-top: 30px;
  align-self: stretch;
  border: none;
}
@media only screen and (max-width: 765px) {
  .signup .container {
    width: 80%;
    padding: 20px 20px 20px;
    margin-top: 120px;
    margin-bottom: 10px;
  }
  .form {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .form .wrapper {
    width: 100%;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }
  .form .field {
    width: 90%;
  }
  .form .m-field {
    width: 100%;
  }
  .form .field input {
    width: 100%;
  }
}
@media only screen and (max-height: 600px) {
  .signup {
    padding-top: 280px;
  }
}
